@tailwind base;
@tailwind components;
@tailwind utilities;

.form-box {
    max-width: 30rem;
    margin: 5rem auto;
    /* display: flex; */
}

.overlay {
    background: linear-gradient(to bottom, #111212, #469550b0);
}
